# Build

bin/
obj/

# NuGet packages

packages/

# Rider

.idea/
*.sln.iml
*.iml

# ReSharper

_ReSharper.Caches/
*.DotSettings.user

# Test results

TestResults/

# User specific files

*.user
*.suo

# Logs

*.log

# OS files

.DS_Store
Thumbs.db
